.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-bg-main);
}

.app-header {
    background-color: var(--color-bg-header);
    color: var(--color-text-on-dark);
    z-index: 50;
    box-shadow: var(--shadow-sm);
    display: flex;
    flex-direction: column;
}

.layout-body {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 20%;
    background-color: var(--background-light-gray);
    border-inline-end: 1px solid var(--border-light-gray);
    display: flex;
    flex-direction: column;

    .sidebar-section {
        
        h3 {
            font-size: 0.75rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: var(--color-text-muted);
            margin-bottom: 1rem;
            text-align: center;
            
        }

        .nav-item {
            display: block;
            padding: 0.75rem 1rem;
            margin-bottom: 0.25rem;
            border-radius: var(--radius-sm);
            color: var(--color-text-main);
            font-weight: 500;
            text-decoration: none;

            &:hover {
                background-color: var(--primary-light-blue-bg);
            }

            &.active {
                background-color: var(--primary-light-blue-bg);
                color: var(--text-placeholder);
                border-inline-start: 3px solid var(--primary-blue);
            }
        }
    }
}

.main-content {
    flex: 1;
    overflow-y: auto;
}