<div class="dashboard container">
  <div class="toolbar-section">
    <div class="actions-bar">

      <button class="btn-add">
        <i class="fa-solid fa-plus"></i>
        <span> اضافه</span>
      </button>

      <div class="search-box">
        <input type="text" placeholder="ابحث عن الاسم" />
      </div>
    </div>
  </div>

  <div class="tasks-list">
    <app-task-card
     *ngFor="let task of tasks$ | async" 
     [task]="task" 
     (edit)="openEditTask(task)"
     (delete)="deleteTask(task)"></app-task-card>

  </div>
</div>