.navbar {
    background-color: var(--header-background-dark);
    color: var(--text-light);
    padding: 0.25rem 0;
  }
  
  .container {
    padding: 0 1rem;
  }
  
  .navbar-brand h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }